.kakao_btn {
    width: 80%;
    background: #f9df09;
    color: #3a182c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    font-size: .8rem;
    border-radius: 10px;
    font-weight: 500;
    margin: 0 auto;
    padding: 7px 0;
}