.join_wrap {
    display: flex;
    min-height: 100vh;
    align-items: center;

    .inbox {
        width: 100%;
    }
    .title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.6rem;
    }
    .step_wrap {
        margin: 0 auto 50px;
        width: 80%;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > li {
                text-align: center;

                > span {
                    position: relative;
                    background-color: transparent;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: inline-block;



                    &::before {
                        content:"";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #ddd;
                    }

                    &::after {
                        content:"";
                        background-color: #aaa;
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                > p {
                    font-size: .7rem;
                    font-weight: 500;
                }
                
                &.activate {
                    > span {

                        
                        &::before {
                            background-color: #99abe4;
                            animation: pulse 2s ease-in-out infinite;
                        }

                        &::after {
                            background-color: #4169E1;
                        }
                    }
                }
            }
        }
    }
    .input_box {
        margin-bottom: 20px;
        .input_title {
            display: block;
            font-size: .7rem;
            font-weight: 500;
            margin-bottom: 5px;
        }
        label {
            input {
                border-bottom: 1px solid #c5ccd2;
                width: 100%;
                font-size: 0.6rem;
                height: 40px;
                padding: 0 10px;

                &:focus {
                    border-color: #4169E1;
                }

                &::placeholder {
                    font-size: 0.6rem;
                    color: #c5ccd2;
                    font-family: 'Pretendard', sans-serif;
                    font-weight: 400;
                }
            }
        }

        &.radio_box {
            display: flex;
            align-items: center;
            gap: 0 20px;
            text-align: center;
            flex-wrap: wrap;

            .input_title {
                width: 100%;
                text-align: left;
            }

            label {
                display: flex;
                align-items: center;
                gap: 3px;
                input {
                    width: 12px;
                    
                    + span {
                        font-size: 0.6rem;
                        margin-bottom: 0;
                        font-weight: 400;
                    }

                    &:checked {
                        + span {
                            color: #0078d4;
                        }
                    }
                }
            }
        }
    }

    .btn_wrap {
        margin-top: 50px;
        display: flex;
        gap: 20px;
        justify-content: center;
        button, a {
            display: block;
            font-size: 0.7rem;
            font-weight: 500;
            text-align: center;
            // padding: 13px 50px 14px;
            padding: 13px 0 14px;
            width: 50%;
            line-height: 1;
            border-radius: 5px;
            transition: all .2s;
            
            border: 1px solid #4169E1;
        }
        .prev_btn,
        .login_btn {
            background: #4169E1;
            color: #fff;
        }
        .next_btn,
        .complete_btn {
            color: #4169E1;
        }
    }
}

.complete_wrap {
    text-align: center;

    > p {
        font-size: .75rem;
    }
}

@keyframes pulse {
  0% {
    width: 12px;
    height: 12px;
  }
  50% {
    width: 8px;
    height: 8px;
  }
  100% {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 480px) {
    .join_wrap {
        
        .step_wrap {
            margin-bottom: 40px;
        }
        
        .input_box {
            .input_title {
                font-size: .8rem;
            }
            label {
                input {
                    font-size: 0.75rem;
                    &::placeholder {
                        font-size: 0.75rem;
                    }
                }
            }

            &.radio_box {
                label {
                    input {
                        + span {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
        
        .btn_wrap {
            margin-top: 30px;
            gap: 15px;
        }
    }
}